* {
  box-sizing: border-box;
  margin: none;
  padding: 0;
}

.form-div {
  top: 20%;
  display: flex;
  position: absolute;
  right: 10%;
  width: 30%;
  height: 70vh;
  border-radius: 10px;
  border: 1px solid black;
}

input {
  height: 30px;
  width: 80%;
  border: 1px solid black;
  outline: none;
}
form {
  left: 10%;
  position: absolute;
  width: 100%;
  height: 100%;

}
.btnof {
  position: absolute;
  right: 10%;
  height: 10vh;
  top: 3%;
  width: 30%;
}
.menu-bar {
  display: flex;
  width: 100%;
 
}
.btn {
  position: absolute;
  left: 15%;
  width: 50%;
  height: 30px;
  transform: translateY(50%);
  border-radius: 10px;
  outline: none;
  border: 0.5px solid black;
  background-color: skyblue;
}